SEDIFEX_API_BASE_URL=https://us-central1-sedifex-web.cloudfunctions.net
SEDIFEX_INTEGRATION_API_BASE_URL=https://us-central1-sedifex-web.cloudfunctions.net
SEDIFEX_BOOKING_TARGET_STORE_ID=store_123
SEDIFEX_BOOKING_API_KEY=sedx_store_key_here
SEDIFEX_CHECKOUT_API_KEY=sedx_store_key_here
SEDIFEX_INTEGRATION_CHECKOUT_CREATE_URL=https://us-central1-sedifex-web.cloudfunctions.net/integrationCheckoutCreate
SEDIFEX_CHECKOUT_RETURN_URL=https://www.jonhregatravelandtours.com/booking/thank-you
SEDIFEX_CONTRACT_VERSION=2026-04-13
